variables: &variables
  DEBIAN_FRONTEND: noninteractive
  DOCKER_HOST: tcp://docker:2375
  # Build parameters. We later override them at job level if needed.
  SONAR_SCANNER: "OFF"
  COVERALLS: "OFF"
  RUN_TESTS: "ON"
  STOCK_CPPZMQ: "ON"
  CMAKE_BUILD_TYPE: "Debug"
  BUILD_SHARED_LIBS: "ON"

services:
  - docker:20.10.1-dind

# See: https://docs.gitlab.com/ce/ci/yaml/README.html#workflowrules-templates
workflow:
  rules:
    - if: $CI_MERGE_REQUEST_IID
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

.job-template: &job-template
  image: debian:10
  before_script:
    - ulimit -c unlimited
    - echo "core.%e.%p.%t" > /proc/sys/kernel/core_pattern
    - apt-get update && apt-get install -y git wget unzip docker.io

    - docker pull tangocs/mysql:9.2.2
    - docker pull tangocs/tango-cs:latest
    - git clone https://github.com/JoakimSoderberg/coveralls-cmake.git
    - (test ${STOCK_CPPZMQ} = "OFF" && git clone -b v4.2.2 https://${CI_USER_TOKEN}@github.com/zeromq/cppzmq.git cppzmq) || mkdir cppzmq
    - git clone -b tango-9-lts https://github.com/tango-controls/tango-idl.git idl
    - wget https://sonarcloud.io/static/cpp/build-wrapper-linux-x86.zip && unzip build-wrapper-linux-x86.zip

    - docker run --name mysql_db -e MYSQL_ROOT_PASSWORD=root -d tangocs/mysql:9.2.2 --sql-mode=""
    - CONTAINER=$(docker run --name tango_cs -e TANGO_HOST=127.0.0.1:10000 -e MYSQL_HOST=mysql_db:3306 -e MYSQL_USER=tango -e MYSQL_PASSWORD=tango -e MYSQL_DATABASE=tango --link mysql_db:mysql_db -d tangocs/tango-cs:latest)
    - IPADDR=$(docker inspect -f '{{ .NetworkSettings.IPAddress }}' $CONTAINER)
    - TANGO_HOST=${IPADDR}:10000
    - docker build -t cpp_tango .travis/${OS_TYPE}
    - docker run --name cpp_tango --user root -e TANGO_HOST=${TANGO_HOST} -e BINTRAY_USER_NAME=tango-ci -e BINTRAY_API_KEY=${CI_BINTRAY_API_KEY} -e COVERALLS_REPO_TOKEN=${COVERALLS_REPO_TOKEN} --link tango_cs:tango_cs -v `pwd`:/home/tango/src -v `pwd`/idl:/home/tango/idl -v `pwd`/cppzmq:/home/tango/cppzmq -v `pwd`/coveralls-cmake:/home/tango/coveralls-cmake -v `pwd`/build-wrapper-linux-x86:/home/tango/build-wrapper-linux-x86 -dit cpp_tango
    - .travis/install_tango_idl.sh
    - (test ${STOCK_CPPZMQ} = "OFF" && .travis/install_cppzmq.sh) || true
    #work around gcov ignored by sonar
    # - sudo mkdir /home/tango && sudo mkdir /home/tango/src && sudo mount --bind `pwd` /home/tango/src
  script:
    - .travis/run.sh
    - .travis/test.sh COVERALLS=OFF
    - test ${SONAR_SCANNER} = "ON" && .travis/sonar.sh || true
  after_script:
    - docker stop cpp_tango
    - docker rm cpp_tango
    - docker stop tango_cs
    - docker rm tango_cs
    - docker stop mysql_db
    - docker rm mysql_db
    - find build -name 'core.*' -exec gzip "{}" \;
  artifacts:
    when: always
    paths:
      - build/cpp_test_suite/*/core.*

debian10-release:
  <<: *job-template
  variables:
    <<: *variables
    OS_TYPE: debian10
    CMAKE_BUILD_TYPE: Release

debian10:
  <<: *job-template
  variables:
    <<: *variables
    TANGO_ENABLE_COVERAGE: "ON"
    OS_TYPE: debian10
  after_script:
    - find build -name 'core.*' -exec gzip "{}" \;
    - mkdir coverage
    - >
        docker exec --workdir /home/tango/src cpp_tango
        gcovr --filter '^cppapi/' --filter '^log4tango/(?!tests/)' -j$(nproc)
        --xml --output coverage.xml
    - >
        docker exec --workdir /home/tango/src cpp_tango
        gcovr --filter '^cppapi/' --filter '^log4tango/(?!tests/)' -j$(nproc)
        --html-details --output coverage/coverage.html
    - >
        docker exec --workdir /home/tango/src cpp_tango
        gcovr --filter '^cppapi/' --filter '^log4tango/(?!tests/)' -j$(nproc)
    - tar czf coverage.tar.gz coverage
    - docker stop cpp_tango
    - docker rm cpp_tango
    - docker stop tango_cs
    - docker rm tango_cs
    - docker stop mysql_db
    - docker rm mysql_db
  artifacts:
    when: always
    reports:
      cobertura: coverage.xml
    paths:
      - build/cpp_test_suite/*/core.*.gz
      - coverage.xml
      - coverage.tar.gz

debian10-static:
  <<: *job-template
  variables:
    <<: *variables
    OS_TYPE: debian10
    RUN_TESTS: "OFF"
    BUILD_SHARED_LIBS: "OFF"

debian9:
  <<: *job-template
  variables:
    <<: *variables
    OS_TYPE: debian9

debian8:
  <<: *job-template
  variables:
    <<: *variables
    OS_TYPE: debian8
    # SONAR_SCANNER: "ON"
    # COVERALLS: "ON"
    STOCK_CPPZMQ: "OFF"

debian7:
  <<: *job-template
  variables:
    <<: *variables
    OS_TYPE: debian7
